<header>
  <ul class="nav nav-pills">
    <li>
  
<div class="dropdown" appDropdown>
    <button class="btn btn-primary" 
      type="button" 
      id="dLabel"
     aria-haspopup="true" 
     aria-expanded="false">
      Dropdown button
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" aria-labelledby="dLabel">
     <li> <a  [routerLink]="['/pokedex/favorite']">Favorite Pokémon</a> </li>
     <li> <a  href="https://pokeapi.co/">PokéApi</a></li>
    </ul>
    
  </div>

    </li>
  </ul>
</header>
<hr>